		<!-- IF _file.S_AUDIO -->
			<dl class="file">
				<dt><audio src="{_file.U_VIEW_LINK}" type="{_file.MIMETYPE}" style="max-width:100%;width:360px" controls preload="none"></audio></dt>
				<!-- IF _file.COMMENT --><dd><em>{_file.COMMENT}</em></dd><!-- ENDIF -->
				<dd>
					<a class="button button-icon-only" href="{_file.U_DOWNLOAD_LINK}" title="{_file.DOWNLOAD_NAME}"><i class="icon fa-download fa-fw" aria-hidden="true"></i></a>
					{_file.DOWNLOAD_NAME}
				</dd>
				<dd>({_file.FILESIZE} {_file.SIZE_LANG}) {_file.L_DOWNLOAD_COUNT}</dd>
			</dl>
		<!-- ENDIF -->
