




<Files ~ "\.pdf$">
  Header set X-Robots-Tag "noindex, nofollow"
</Files>
<Files ~ "\.srt$">
  Header set X-Robots-Tag "noindex, nofollow"
</Files>

# DISABLE DIRECTORY INDEXES
Options -Indexes