DirectoryIndex index.php

RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php


<FilesMatch "\.ini$">
Deny from all
</FilesMatch>


#ErrorDocument 404 https://www.doctorwhofans.be/notfound.html
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#Rewrite everything to https

#Header set Access-Control-Allow-Origin "https://www.doctorwhofans.be"
#Header set Access-Control-Allow-Origin "https://doctorwhofans.be"
#Header set Access-Control-Allow-Origin "https://dash.doctorwhofans.be"
#Header set Access-Control-Allow-Origin "https://admin.doctorwhofans.be"
#Header set Access-Control-Allow-Origin "https://API.doctorwhofans.be"
#Header set Access-Control-Allow-Origin "https://wiki.doctorwhofans.be"
#Header set Access-Control-Allow-Origin "https://adm.doctorwhofans.be"
