DirectoryIndex index.php
DirectoryIndex index.php



# BROWSER CACHING USING EXPIRES HEADERS
<IfModule mod_expires.c>
    ExpiresActive On
  
    # Images
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
  
    # Video
    ExpiresByType video/mp4 "access plus 1 year"
    ExpiresByType video/mpeg "access plus 1 year"

    # CSS, JavaScript
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"

    # Others
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>

# BROWSER CACHING USING CACHE-CONTROL HEADERS
<ifModule mod_headers.c> 
    # One year for image and video files
    <filesMatch ".(flv|gif|ico|jpg|jpeg|mp4|mpeg|png|svg|swf|webp)$">
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>

    # One month for JavaScript and PDF files
    <filesMatch ".(js|pdf)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesMatch>

    # One week for CSS files
    <filesMatch ".(css)$">
        Header set Cache-Control "max-age=604800, public"
    </filesMatch>
</ifModule>

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

<FilesMatch "\.(ini|psd|log|sh)$">
Order allow,deny
Deny from all

</FilesMatch>

# ErrorDocument 404 https://www.doctorwhofans.be/notfound.html
RewriteEngine On
RewriteCond %{HTTPS} off
#rewriteRule ^(.*) https://www.doctorwhofans.be/ [R=301,L]


#Rewrite everything to https
#<FilesMatch "\.(ttf|otf|eot|woff|woff2|html|js|php|css)$">
#    <IfModule mod_headers.c>
#        Header set Access-Control-Allow-Origin "https://forum.doctorwhofans.be"
#        Header set Access-Control-Allow-Origin "https://dash.doctorwhofans.be"
#        Header set Access-Control-Allow-Origin "https://admin.doctorwhofans.be"
#        Header set Access-Control-Allow-Origin "https://API.doctorwhofans.be"
#        Header set Access-Control-Allow-Origin "https://wiki.doctorwhofans.be"
#        Header set Access-Control-Allow-Origin "https://*.doctorwhofans.be"
#        Header set Access-Control-Allow-Origin "https://www.doctorwhofans.be"
#        Header set Access-Control-Allow-Origin "*"

#    </IfModule>
#</FilesMatch>
RewriteEngine On




RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ([^\.be][\(\)\:\-\_\/a-zA-z0-9]+)\/$ index.php?menu=$1 [L]
RewriteRule ([^\.be][\(\)\:\-\_\/a-zA-z0-9]+).html$ index.php?menu=$1 [L]

<Files ~ "\.pdf$">
  Header set X-Robots-Tag "noindex, nofollow"
</Files>
<Files ~ "\.srt$">
  Header set X-Robots-Tag "noindex, nofollow"
</Files>

# DISABLE DIRECTORY INDEXES
Options -Indexes

AddType image/x-icon .ico
RewriteRule ^favicon.ico favicon.ico [NC,L]


