.row{margin-left:0 !important;margin-right: 0 !important;}

.panel-body{padding:0 !important}

img{max-width: 50% !important;}

table{width:100%}

th,td{min-width: 5em;}

body{padding-top:5em !important;}

#Chart1{width:100% !important;
height:auto !important;}

#update,.navbar-brand{color: white;
  vertical-align: middle;
  line-height: 4em;}

.EMPTYPAGE{background-color: red !important;color: white;}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 999;
  width:50vw
}

@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    nav{position: sticky;}
  }
