.row{margin-left:0 !important;margin-right: 0 !important;}

.panel-body{padding:0 !important}

img{max-width: 50% !important;}

table{width:100%}

th,td{min-width: 5em;}

body{padding-top:5em !important;}

#Chart1{width:100% !important;
height:auto !important;}



.EMPTYPAGE{background-color: red !important;color: white;}

@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    nav{position: sticky;}
  }
