#Logo {
    height: 2em;
}

nav {
    border-bottom: 1px solid black
}

/* Rudimentary mega menu CSS for demonstration */
nav a {
    text-decoration: none;
}

/* mega menu list */
.nav-menu {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
    background-color: lightgrey;
}

/* a top level navigation item in the mega menu */
.nav-item {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: -6px;
}

.nav-item.right {
    float: right;
    list-style: none;
    display: block;
    padding: 0;
}

.nav-item.right>.sub-nav {
    position: fixed;
    right: 0;
    width: 37em;
}

/* first descendant link within a top level navigation item */
.nav-item>a {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid transparent;
}

/* focus/open states of first descendant link within a top level 
           navigation item */
.nav-item>a:focus,
.nav-item>a.open {
    border: 1px solid #dedede;
}

/* open state of first descendant link within a top level 
           navigation item */
.nav-item>a.open {
    background-color: #fff;
    border-bottom: none;
    z-index: 1;
}

/* sub-navigation panel */
.sub-nav {
    position: absolute;
    display: none;
    top: 2.65em;
    padding: 0.5em 1em;
    background-color: lightgrey;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

/* sub-navigation panel open state */
.sub-nav.open {
    display: block;

}

/* list of items within sub-navigation panel */
.sub-nav ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 1em 0 0;
    padding: 0;
}

/* list item within sub-navigation panel */
.sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    .nav-menu {
        min-height: 5em;
    }

    .nav-item>.sub-nav {
        margin-top: 2.65em;
    }

}

@media only screen and (max-width: 600px) {
    .sub-nav.open {
        margin-top: 16.8em !important;
    }

    .nav-item {
        width: 50%
    }

    .nav-item:first{padding-top: 0;}

    .nav-menu {
        height: 21em;
    }

    .sub-nav ul {
        display: inline-block;
        width: 44%;
    }

    .nav-item.right {
        float: none;
    }

    .nav-item.right>.sub-nav {
        width: 100%;
        top: 6em;
        background-color: lightgray;
    }

    .sub-nav {
        position: absolute;
        display: none;
        top: 4.3em;
        padding: 0.5em 1em;
        border: 1px solid #dedede;
        background-color: #fff;
        width: 50%;
    }

    .nav-item>.sub-nav {
        z-index: 1;
        width: 100%;
        background-color: lightgrey;
        border-bottom: 1px solid;
    }
}

nav a {
    color: black
}