#Logo {
    height: 2em;
}

nav {
    border-bottom: 1px solid black
}

/* Rudimentary mega menu CSS for demonstration */
nav a {
    text-decoration: none;
}

/* mega menu list */
.nav-menu {
    display: block !important;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
    background-color: lightgrey;
}

/* a top level navigation item in the mega menu */
.nav-item {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 0.5em;
}

.nav-item.right {
    float: right;
    list-style: none;
    display: block;
    padding: 0;
}

.nav-item.right>.sub-nav {
    position: fixed;
    right: 0;
    width: 37em;
    margin-top: 0.1em;
}

/* first descendant link within a top level navigation item */
.nav-item>a {
    position: static;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid transparent;
}
nav button, nav input[type=button]{min-height: 2em}

/* focus/open states of first descendant link within a top level 
           navigation item */
.nav-item>a:focus,
.nav-item>a.open {
    border: 1px solid #dedede;
}

/* open state of first descendant link within a top level 
           navigation item */
.nav-item>a.open {
    background-color: #fff;
    border-bottom: none;
    z-index: 1;
    border-radius: 6px;

}

/* sub-navigation panel */
.sub-nav {
    position: fixed;
    display: none;
    padding: 0.5em 1em;
    background-color: lightgrey;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    z-index: 5;
}

/* sub-navigation panel open state */
.sub-nav.open {
    display: block;

}

/* list of items within sub-navigation panel */
.sub-nav ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0;
    padding: 0;
}

/* list item within sub-navigation panel */
.sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left:1em;
    line-height: 1.5em;
}

@media only screen and (max-width: 800px) {
    .nav-menu {
        min-height: 22em;
    }

    

}
@media only screen and (min-width: 1000px) {
    nav {
        display:block !important;
        z-index: 5;
    }
    .sub-nav.open{
        z-index: 4;
        margin-top: 0.65em;
    }
}


@media only screen and (max-width: 600px) {
    

    .nav-item {
        width: 58%
    }

    .nav-item:first{padding-top: 0;}

    

    .sub-nav ul {
        display: inline-block;
        width: 46%;
    }
    sub nav ul li a {font-size: 0.8em;}

    .nav-item.right {
        float: none;
    }

    .nav-item.right>.sub-nav {
        width: 100%;
        top: 6em;
        background-color: lightgray;
    }

    .sub-nav {
        position: absolute;
        display: none;
        top: 22em;
        padding: 0.5em 1em;
        border: 1px solid #dedede;
        background-color: #fff;
        width: 50%;
    }

    .nav-item>.sub-nav {
        z-index: 1;
        width: 100%;
        background-color: lightgrey;
        border-bottom: none;
    }
}

nav a {
    color: black
}