.open-close {
  margin: 0 auto;
  max-width: 320px;  
  .holder {
    background: #eee;
    
    + .holder {
      .opner {
        border-top: 1px solid #ccc;
      }
    }
  
    .slide {
      padding: 15px;
      display: none;
    }
    .opner {
      background: #757575;
      display: block;
      padding: 10px 25px;
      color: #fff;
      text-decoration: none;
      
      &.active {
        background: #4285f4;
      }
    }
  }
}
